/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #F7FFF7;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #F7F7F7;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

.btn {
  color: #F7F7F7;
  border: 1px solid #F7F7F7;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover {
  color: #FFE66D;
  border: 1px solid #FFE66D;
}


/* Profile
------------------------------------*/
header {
  background: #343434;
  color: #F7FFF7;
  font-family: Arial, Helvetica, sans-serif;
}



/* Projects
------------------------------------*/
.projects {
  background: #2F3061;
}

.project-item {
  overflow: hidden;
}

.project-item img{
  border: 3px solid #FFE66D;

}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #2F3061;
}



/* Education
------------------------------------*/
.education {
  color: #343434;
  background-image: url(../images/post-it.gif);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}

/* Hobbies
------------------------------------*/
.hobbies {
  background: #2F3061;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  border: 3px solid #FFE66D;
  transition: .5s ease;
}

.gallery-item h3 {
  margin-top: 0;
}

.gallery-item a {
  color: #f7f7f7;
}

.img-container:hover img{
  opacity: 30%;
}

.img-container:hover .img-overlay p{
  opacity: 1;
}

.img-container{
  position: relative;
  width: 50%;

}

.img-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-overlay p{
  position: absolute;
  top: 50%;
  left: 25%;

  opacity: 0;
  transition: .5s ease;
}

/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
